## Name of Students:
### Noam Sitbon 332391820
### Yedidia Friedheim 313475808

In [1]:
import numpy as np
import pandas as pd

In [2]:
url = 'https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/vaccinations/vaccinations.csv'
vacc_df = pd.read_csv(url)

Solution to question 1:

In [3]:
vacc_df.head() #print the first 5 rows of dataframe

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0

Solution question 2: (We choose Norway because it begins with "N" like Noam)

In [4]:
my_country=vacc_df[vacc_df['location'].str.contains("Norway")]
my_country  #print data of Nowrway ("N" like Noam)

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
5876,Norway,NOR,2020-12-27,5.0,5.0,NaN,NaN,NaN,0.00,0.00,NaN,NaN
5877,Norway,NOR,2020-12-28,608.0,608.0,NaN,603.0,603.0,0.01,0.01,NaN,111.0
5878,Norway,NOR,2020-12-29,1675.0,1675.0,NaN,1067.0,835.0,0.03,0.03,NaN,154.0
5879,Norway,NOR,2020-12-30,2102.0,2102.0,NaN,427.0,699.0,0.04,0.04,NaN,129.0
5880,Norway,NOR,2020-12-31,2174.0,2174.0,NaN,72.0,542.0,0.04,0.04,NaN,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...
5958,Norway,NOR,2021-03-19,768922.0,505976.0,262946.0,7467.0,8755.0,14.18,9.33,4.85,1615.0
5959,Norway,NOR,2021-03-20,769395.0,506429.0,262966.0,473.0,8774.0,14.19,9.34,4.85,1618.0
5960,Norway,NOR,2021-03-21,769650.0,506616.0,263034.0,255.0,8796.0,14.20,9.35,4.85,1623.0
5961,Norway,NOR,2021-03-22,771223.0,508119.0,263104.0,1573.0,8944.0,14.23,9.37,4.85,1650.0
5962,Norway,NOR,2021-03-23,783851.0,520067.0,263784.0,12628.0,9854.0,14.46,9.59,4.87,1818.0

Solution question 3:

In [5]:
print("Number of rows is: ",len(my_country)) #print the numbers of rows in the country

Number of rows is:  87

Solution question 4:

In [6]:
max_vacc = my_country.daily_vaccinations.max()
my_country.loc[my_country.daily_vaccinations==max_vacc,["date"]]
#print the date that has the most daily vaccinations

            date
5949  2021-03-10

Solution question 5

In [7]:
a=my_country.iloc[0:3]
a[["location","date","daily_vaccinations"]]
#print the first 3 rows and "location","date","daily_vaccinations" columns of Norway

     location        date  daily_vaccinations
5876   Norway  2020-12-27                 NaN
5877   Norway  2020-12-28               603.0
5878   Norway  2020-12-29               835.0

Solution question 6

In [17]:
print("The mean of daily vaccinations is: ",my_country.daily_vaccinations.mean())
#calculate the daily mean vaccinations

The mean of daily vaccinations is:  8932.441860465116

Solution question 7

In [9]:
my_country_without_Nan=my_country.dropna(subset=["people_vaccinated_per_hundred"])
my_country_without_Nan #print the data without NaN in "people_vaccinated_per_hundred"'s column

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
5876,Norway,NOR,2020-12-27,5.0,5.0,NaN,NaN,NaN,0.00,0.00,NaN,NaN
5877,Norway,NOR,2020-12-28,608.0,608.0,NaN,603.0,603.0,0.01,0.01,NaN,111.0
5878,Norway,NOR,2020-12-29,1675.0,1675.0,NaN,1067.0,835.0,0.03,0.03,NaN,154.0
5879,Norway,NOR,2020-12-30,2102.0,2102.0,NaN,427.0,699.0,0.04,0.04,NaN,129.0
5880,Norway,NOR,2020-12-31,2174.0,2174.0,NaN,72.0,542.0,0.04,0.04,NaN,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...
5958,Norway,NOR,2021-03-19,768922.0,505976.0,262946.0,7467.0,8755.0,14.18,9.33,4.85,1615.0
5959,Norway,NOR,2021-03-20,769395.0,506429.0,262966.0,473.0,8774.0,14.19,9.34,4.85,1618.0
5960,Norway,NOR,2021-03-21,769650.0,506616.0,263034.0,255.0,8796.0,14.20,9.35,4.85,1623.0
5961,Norway,NOR,2021-03-22,771223.0,508119.0,263104.0,1573.0,8944.0,14.23,9.37,4.85,1650.0
5962,Norway,NOR,2021-03-23,783851.0,520067.0,263784.0,12628.0,9854.0,14.46,9.59,4.87,1818.0

In [10]:
from statistics import *

Solution question 8:

In [12]:
index_0=my_country_without_Nan[my_country_without_Nan["people_vaccinated_per_hundred"]==0.00].index #find index of all val equal to 0
my_country_without_Nan.drop(index_0, inplace=True) #remove the 0
print("The harmonic mean is: ",harmonic_mean(my_country_without_Nan["people_vaccinated_per_hundred"])) #calculate harmonic mean of "people_vaccinated_per_hundred"

The harmonic mean is:  0.25587879172254613

Solution question 9:

In [15]:
print("The median mean is: ",my_country_without_Nan["daily_vaccinations"].median()) #calculate median mean

The median mean is:  9734.0

In [16]:
print("The mean is: ",my_country_without_Nan["daily_vaccinations"].mean()) #calculate traditional mean

The mean is:  8932.441860465116

From line 32 and33 we can see that the median mean is bigger than the traditional mean.